params {
    outdir = './nfoutput'

    genomes {
        'GRCm39' {
            db = '/mnt/data/gdata/mouse/GRCm39'
        }

        'GRCh38' {
            db = '/mnt/data/gdata/human/GRCh38'
        }
    }
}

dag {
    overwrite = true
    enabled = false
}

trace {
    overwrite = true
}

report {
    overwrite = true
}

conda.enabled = true