params {
    outdir = './results'

    genomes {
        'GRCm38RMSKsalmon' {
            db = '/home/gcalendo/data/20230201_rmsk-gentrome/data/mouse/GRCm38-rmsk-salmon-idx'
            gtf = '/home/gcalendo/data/20230201_rmsk-gentrome/data/mouse/gencode.vM25.annotation.gtf.gz'
            grl = '/home/gcalendo/data/20230201_rmsk-gentrome/data/mouse/rmsk-grl.rds'
            rd = '/home/gcalendo/data/20230201_rmsk-gentrome/data/mouse/rmsk-rowData.tsv'
        }
    }
}

dag {
    overwrite = true
    enabled = true
}

conda.enabled = true